@import "../../../styles/colors";

.tender-respond-form {
  font-family: Roboto, sans-serif;
  padding-left: 16px;
  padding-right: 16px;
  .title {
    font-size: 18px;
    font-style: normal;
    line-height: 19px;
    margin-top: 20px;
  }

  .description {
	  width: 100%;
  }

}
